# Live Code

*by* **Annisa Ditasila**
*batch 017*

## Description
Ini adalah live code pertama dimana para siswa diuji dengan pelajaran apa yang sudah dipelajari pada Phase 0 di minggu 1

### Problem Statement

Problems
Kamu merupakan seorang data scientist di salah satu perusahaan penyedia jasa makananan diet & healthy catering. Tim Perencanaan meminta kamu untuk mengecek kebutuhan energi dasar (BMR) harian dari customer. Informasi ini selanjutnya akan digunakan sebagai pertimbangan dalam penyusunan menu diet.

### Objective

a. Buatlah dua fungsi eksplisit masing-masing memuat perhitungan BMR laki-laki dan BMR Perempuan yang nantinya akan digunakan untuk perhitungan

b. Buat kolom baru dengan nama kolom BMR berisikan hasil perhitungan kebutuhan energi dasar (BMR) harian sesuai dengan jenis kelamin masing-masing pelanggan. (Hint: Gunakan for loop dan if statement untuk mengerjakan perintah nomor b, kamu bisa menggunakan list untuk menyimpan perhitungan sementara, setelahnya dapat dimasukkan ke kolom BMR).

c. Hitunglah rata-rata berat badan untuk Jenis kelamin laki-laki dengan umur lebih dari sama dengan 24 tahun hingga kurang dari sama dengan 35 tahun.

## Import Library

In [1]:
import pandas as pd
import numpy as np
import matplotlib as plt

In [2]:
url = "https://raw.githubusercontent.com/rafifaditio/Dataset/main/BMR.csv"
df = pd.read_csv (url)
df

     Age  Gender  Height (cm)  Weight (kg)  Index
0     21    Male          162           58      2
1     44  Female          188           80      2
2     45    Male          177           61      2
3     50    Male          192          101      3
4     28  Female          195           61      1
..   ...     ...          ...          ...    ...
145   33    Male          142           71      4
146   32  Female          162           58      2
147   29    Male          174           54      1
148   33  Female          197           72      2
149   23    Male          198           50      0

[150 rows x 5 columns]

## Fungsi

In [3]:
def fungsi_1 (BB,TB,U) :
    BMR = 66 + (13.7*BB) + (5*TB) - (6.8*U)
    return (BMR)
def fungsi_2 (BB,TB,U) :
    BMR = 655 + (9.6*BB) + (1.8*TB) - (4.7*U)
    return (BMR)

## BMR

In [4]:
BMR = []
for row in df.itertuples():
    if "Male" in row[2]:
        BMR.append (fungsi_1(row[4], row[3], row[1]))
    elif "Female" in row[2]:
        BMR.append (fungsi_2(row[4], row[3], row[1]))

In [5]:
df["BMR"] = BMR
df

     Age  Gender  Height (cm)  Weight (kg)  Index     BMR
0     21    Male          162           58      2  1527.8
1     44  Female          188           80      2  1554.6
2     45    Male          177           61      2  1480.7
3     50    Male          192          101      3  2069.7
4     28  Female          195           61      1  1460.0
..   ...     ...          ...          ...    ...     ...
145   33    Male          142           71      4  1524.3
146   32  Female          162           58      2  1353.0
147   29    Male          174           54      1  1478.6
148   33  Female          197           72      2  1545.7
149   23    Male          198           50      0  1584.6

[150 rows x 6 columns]

Hitunglah rata-rata berat badan untuk Jenis kelamin laki-laki dengan umur lebih dari sama dengan 24 tahun hingga kurang dari sama dengan 35 tahun.

In [6]:
df.loc[(df['Gender']=='Male') & ((df['Age']>=24 )) & ((df['Age']<=36)) , 'Weight (kg)'].mean()

85.76315789473684

Rata-rata berat badan laki-laki antara umur 24-35 adalah 85,7 kg